/*Global selector for the landing page*/
* {
  /*sets box sizing so the textinput fields will have a border*/
  box-sizing: border-box;
  /*Red AC Variable*/
  --redAC: #751a1a;
  /*Yellow AC Variable*/
  --yellowAC: #ffc422;
  /*White AC Variable*/
  --whiteAC: #eae0cc;
  /*Blue AC Variable*/
  --blueAC: #19374a;
}

/*Targets the root element and sets the backround image on the landing page*/
:root {
  /*Set backgroun color*/
  background-color: var(--blueAC);
  /*Sets font family using Google Font*/
  font-family: "Rock Salt", cursive;
  /*Sets font color*/
  color: var(--whiteAC);
}

/*Targets the Back Button*/
.button {
  /*Sets Back Button background color*/
  background-color: var(--yellowAC);
  /*No border around the button*/
  border: none;
  /*Sets font color*/
  color: var(--redAC);
  /*Sets padding around button*/
  padding: 15px 32px;
  /*Makes the button align right*/
  float: right;
  /*Aligns button text center*/
  text-align: center;
  /*Removes all text-decoration from button*/
  text-decoration: none;
  /*Tells button text to display inline-block*/
  display: inline-block;
  /*Sets button font size*/
  font-size: 16px;
  /*Cursor is pointer when over button*/
  cursor: pointer;
  /*Sets font family using the font established in root element*/
  font-family: inherit;
  /*Makes font appear heavier in button*/
  font-weight: 700;
}

/*Targets the main element*/
main {
  /*Sets the display to flex*/
  display: flex;
}

/*Targets the aside selement*/
aside {
  /*Sets the aside to 30% of the main element width*/
  flex: 30%;
  /*Sets the aside height to 100% of the viewport*/
  height: 100vh;
  /*Sets a 5px margin around the aside*/
  margin: 5px;
}

/*Targets the search-section class*/
.search-section {
  /*Puts a 1px solid gray boarder around the aside element*/
  border-bottom: 1px solid var(--whiteAC);
  /*Sets the section height to auto*/
  height: auto;
}

/*Targets the h2 section inside of the main element*/
.search-section h2 {
  /*Sets 10px top/bottom and 5px right of the h1 element*/
  padding: 10px 0px 0px 5px;
  /*Removes inhereted margin*/
  margin: 0;
}

/*Targets the search form*/
#holidayForm {
  /*Sets a 5% margin top/bottom 10px margin left/right of the search form*/
  margin: 5% 10px;
  /*Changes the font-size within the button*/
  font-size: 24px;
}

/*Targets the country id*/
#country {
  /*Display the country dropdown box below the label*/
  display: block;
  /*Center the element horizontally*/
  margin: 0 auto;
  /*Changes the font-size within the button*/
  font-size: 24px;  
  /*Sets button width to 100%*/
  width: 100%;
}

/*Targets the date id*/
#date {
  /*Display the date selection field below the label*/
  display: block;
  /*Center the element horizontally*/
  margin: 0 auto; 
  /*Changes the font-size within the button*/
  font-size: 24px; 
  /*Sets button width to 100%*/
  width: 100%;
}

/*Targets the search button*/
#searchButton {
  /*Changes the background color of the button*/
  background-color: var(--yellowAC);
  /*Sets the font color on the button*/
  color: var(--redAC);
  /*Changes the font-size within the button*/
  font-size: 24px;
  /*Tells button to inherit font-family*/
  font-family: inherit;
  /*Sets button width to 100%*/
  width: 100%;
  /*Sets margin to 3% on top of the search button*/
  margin-top: 3%;
}

/*Targets the list-section inside of the main element*/
.list-section {
  /*Sets the aside height to 70% of the aside height*/
  height: 70%;
  /*Sets a 5px margin from the top of the list section*/
  margin-top: 5px;
  /*Set font size to 30px to match font size in button above*/
  font-size: 30px;
}

/*Targets buttons in the list-group class*/
.list-group button {
  /*Sets background color to red gray variable*/
  background-color: var(--redAC);
  /*Sets font color to white variable*/
  color: var(--whiteAC);
  /*Aligns text content in the center of each item*/
  text-align: center;
  /*Sets font size to 24px*/
  font-size: 24px;
  /*Sets a 1% margin top/bottom 10px margin left/right of the list items*/
  margin: 1% 0;
  /*Makes cursor into a grabby hand when hovering over the city icons*/
  cursor: grab;
  /*Tells button to inherit font-family*/
  font-family: inherit;
  /*Sets the width*/
  width: 100%;
}

/*Target the holidaySection class*/
.holidaySection {
  /*Sets the cards section to occupy 70% of the width of its parent element*/
  flex: 70%;  
  /*Adds a 5px margin around the cards section class*/
  margin: 5px;  
  /*Sets the display of selectedHoliday class and weatherForecast to flex*/
  display: flex;
  /*Sets flex direction to column*/
  flex-direction: column;  
  /*Sets the font size to be 200% of the default size*/
  font-size: 200%;
}

/*Target the heart icon*/
.heartButton {
  /*Creates an outline effect with a yellow color shadow around the heart icon*/
  text-shadow: -1px 0 var(--yellowAC), 0 1px var(--yellowAC), 1px 0 var(--yellowAC), 0 -1px var(--yellowAC);  
  /*Removes background, sets text color to blueAC, removes border, sets padding to 0, and sets font size to 200%*/
  background: none;
  /*Sets heart background color to blue*/
  color: var(--blueAC);
  /*Removes border*/
  border: none;
  /*Removes padding*/
  padding: 0;
  /*Increases icon size to 200%*/
  font-size: 200%;
}

/*Styles for the heart icon when it is clicked*/
.heartButton.clicked {
  /*Changes the color of the heart icon to yellowAC when clicked*/
  color: var(--yellowAC);
}

/*Target the selectedHoliday class*/
.selectedHoliday {
  /*Sets the height of the card-today class to a maximum of 30% of the height of the cards-section*/
  height: 30%;  
  /*Sets the display to flex, aligns items in the center, and justifies content with space-evenly*/
  display: flex;
  /*Spaces the contents in section evenly*/
  justify-content: space-evenly;
  /*Centers content*/
  align-items: center;
}

/*Targets the h3 element*/
h3 {
  padding-left: 5%;
}

/*Target the weatherForecast class*/
.weatherForecast {
  /*Sets the height of the card-future class to 70% of the height of the cards-section*/
  height: 75%;  
  /*Removes any margin around the cards section class*/
  margin: 0;

  width: 600px;

  font-size: 16px;

  
}

.weatherForecast div {

  display: inline-block;
  width: 200px;

  background-color: var(--redAC);

  border-style: solid;
  border-color: var(--whiteAC);
}

.weatherForecast p {
  margin-left: 5px;;
  font-size: 12px;
}

/*Target the footer section*/
footer {
  /*Sets the height of the footer to 50px*/
  height: 50px;
}