/*Global selector for the landing page*/
* {
  /*sets box sizing so the textinput fields will have a border*/
  box-sizing: border-box;
}

/*Targets the root element and sets the backround image on the landing page*/
:root {
  /*Set backgroun color*/
  background-color: #19374a;
  /*Sets font family using Google Font*/
  font-family: "Rock Salt", cursive;
  /**/
  color: #eae0cc;
}

/*Targets the Back Button*/
.button {
  /*Sets Back Button background color*/
  background-color: #ffc422;
  /*No border around the button*/
  border: none;
  /*Sets font color*/
  color: #751a1a;
  /*Sets padding around button*/
  padding: 15px 32px;
  /**/
  float: right;
  /*Aligns button text center*/
  text-align: center;
  /*Removes all text-decoration from button*/
  text-decoration: none;
  /*Tells button text to display inline-block*/
  display: inline-block;
  /*Sets button font size*/
  font-size: 16px;
  /*Cursor is pointer when over button*/
  cursor: pointer;
  /*Sets font family using the font established in root element*/
  font-family: inherit;
  /*Makes font appear heavier in button*/
  font-weight: 700;
}

/*Targets the main element*/
main {
  /*Sets the display to flex*/
  display: flex;
}

/*Targets the aside selement*/
aside {
  /*Sets the aside to 30% of the main element width*/
  flex: 30%;
  /*Sets the aside height to 100% of the viewport*/
  height: 100vh;
  /*Sets a 5px margin around the aside*/
  margin: 5px;
}

/*Targets the search-section class*/
.search-section {
  /*Puts a 1px solid gray boarder around the aside element*/
  border-bottom: 1px solid var(--darkgrayAC);
  /*Sets the aside height to auto*/
  height: auto;
}

/*Targets the section inside of the main element*/
.search-section h2 {
  /*Sets 10px top/bottom and 5px right of the h1 element*/
  padding: 10px 0px 0px 5px;
  /*Sets the font color to dark gray*/
  color: var(--darkgrayAC);
  /*Removes inhereted margin*/
  margin: 0;
}

/*Targets the section inside of the main element*/
.list-section {
  /*Sets the aside height to 70% of the aside height*/
  height: auto;
  /*Sets a 5px margin from the top of the list section*/
  margin-top: 5px;
  /*Set font size to 30px to match font size in button above*/
  font-size: 30px;
}

/*Targest the cards-section class*/
.holidaySection {
  /*Sets the cards section to 70% of the main element width*/
  flex: 70%;
  /*Sets a 5px margin around the cards section class*/
  margin: 5px;
}

/*Targest the card-today class*/
.selectedHoliday {
  /*Sets the card-today class to 30% of the cards-section height at most*/
  height: 30%;
}

/*Targest the card-future class*/
.weatherForecast {
  /*Sets the card-future class to 70% of the cards-section height*/
  height: 70%;
  /*Removes margin around the cards section class*/
  margin: 0;
}

/*Targets the footer section*/
footer {
  /*Gives the footer a 50px height*/
  height: 50px;
}
