@tailwind base;
@tailwind components;
@tailwind utilities;

/*Global selector for the landing page*/
* {
  /*sets box sizing so the textinput fields will have a border*/
  box-sizing: border-box;
}

/*Targets the root element and sets the backround image on the landing page*/
:root {
  /*links baground image*/
  background-image: url(./landing_images/pexels-frank-cone-140140-2347483.jpg);
  /* Used if the image is unavailable */
  background-color: #751a1a;
  /* Resize the background image to cover the entire container */
  background-size: cover;
  /* Do not repeat the image */
  background-repeat: no-repeat;
  /*left align image*/
  background-position: cover;
}

/*Targets the header element and sets styling for 'Festivitiy Finder'*/
h1 {
  /*Sets font color*/
  color: #ffc422;
  /*Sets font family, pulled from Google fonts*/
  font-family: "Rock Salt", cursive;
  /*Sets font weight so it's slightly thinner than the original font*/
  font-weight: 400;
  /*Font style set to nomral*/
  font-style: normal;
  /*Centers font*/
  text-align: center;
  /*Sets font size*/
  font-size: 600%;
}

/*Target the main container, centers object in container
useful for form when ready*/
.container {
  /*Use Flexbox to center the button horizontally and align it near the bottom*/
  display: flex;
  /*Arrange items vertically*/
  flex-direction: column;
  /*Align items to the bottom*/
  justify-content: flex-end;
  /*Center horizontally*/
  align-items: center;
  /*Make the container full height of the viewport*/
  height: 100vh;
}

/*Code for temporary button, remove when form created*/
.button {
  /*Sets button backgroun color*/
  background-color: #ffc422;
  /*Removes border*/
  border: none;
  /*Sets font color*/
  color: #751a1a;
  /*Sets padding around button word*/
  padding: 15px 32px;
  /*Aligns button content center*/
  text-align: center;
  /*Removes text decoration*/
  text-decoration: none;
  /*Displays items inline-block*/
  display: inline-block;
  /*Sets font size to 16px*/
  font-size: 16px;
  /*Make cursor pointer*/
  cursor: pointer;
  /*Set font from Google fonts*/
  font-family: "Rock Salt", cursive;
  /*Set font weight so it looks bolder*/
  font-weight: 700;
  /*Add some space between the button and the bottom of the page*/
  margin-bottom: 20px;
}

/* Dropdown */
.ui-autocomplete { 
  cursor: pointer; 
  height: 120px; 
  overflow-y: scroll;
  background-color: white;
  max-width: 200px;
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
