/*Global selector*/
* {
  /*sets box sizing so the textinput fields will have a border*/
  box-sizing: border-box;
}

/*Targets the root element and sets the backround image*/
:root {
  /*links baground image*/
  background-image: url(./landing_images/pexels-frank-cone-140140-2347483.jpg);
  /* Used if the image is unavailable */
  background-color: #751a1a;
  /* Resize the background image to cover the entire container */
  background-size: cover;
  /* Do not repeat the image */
  background-repeat: no-repeat;
  /*left align image*/
  background-position: cover;
}

h1 {
  color: #ffc422;
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 600%;
}